.courses-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.courses-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
  font-weight: normal;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.course-card {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.course-image {
  width: 100%;
  /* height: 280px; */
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.course-title {
  font-size: 1.2rem;
  color: #333;
  margin: 0.5rem 1.5rem;
  font-style: italic;
  font-weight: 800;
}

.author {
  color: #666;
  font-size: 0.9rem;
  margin: 0.5rem 1.5rem;
}

.course-description {
  color: #444;
  line-height: 1.6;
  margin: 0.5rem 1.5rem;
  font-size: 0.95rem;
}

.register-button,
.start-button {
  background-color: #5bb7c5;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 1.5rem;
  align-self: flex-start;
}

.register-button:hover,
.start-button:hover {
  background-color: #4a9ba8;
}

.price {
  font-weight: normal;
  color: #333;
  margin: 1rem 1.5rem;
}

.course-link {
  color: #5bb7c5;
  text-decoration: underline;
}

.course-link:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .courses-section {
    padding: 1rem;
  }

  .courses-title {
    font-size: 2rem;
  }

  .courses-grid {
    grid-template-columns: 1fr;
  }

  .course-image {
    height: 220px;
  }
}
